/* Navbar Custom Styles */
.navbar {
background-color: #343a40; /* Dark background for the navbar */
}

.navbar-nav li a {
    color: gray;
    padding: 10px 15px;
}

.navbar-nav li a:hover {
    color: white !important;
    background-color: #575757;
}

/* Search Bar Styling */
#search-bar {
    margin: 20px 0;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    font-size: 16px;
}

/* Gallery Styles */
.card {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-body {
    padding: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #search-bar {
        width: 80%;
        max-width: 350px;
    }
}